/* pricing section  */

.main-section {
  margin-top: 100px !important;
}

.pricing-text {
  text-align: center;
  margin: auto;
}

.cards-container {
  display: flex;
  width: 100%;
}

.card-wrapper {
  position: relative;
  width: 50%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.card-illustration {
  position: absolute;
  width: 100%;
  border-radius: 1rem;
  height: 300px;
}

.card-two {
  background-color: var(--secondary-bg);
  border-radius: 0 3rem 3rem 0;
  height: 440px;
}

.card-one {
  background-color: rgba(50, 102, 174, 0.75);
  border-radius: 3rem 0 0 3rem;
  height: 440px;
}

.card {
  position: relative;
  width: 87%;
  box-shadow: 0px 28px 57px 0px #bebebe40;
  margin: auto;
  padding: 3rem;
  margin-top: 140px;
  background-color: white;
  border-radius: 2rem;
  /* box-shadow: ; */
}

.plan-type {
  position: absolute;
  top: -55px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.plan-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.card-body {
  padding: 15px 0 15px 0;
}
.card-options {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 43px;
}
.card-options li {
  font-size: 17px;
  font-weight: 400;
}
ul.card-options {
  list-style: none;
}

ul.card-options li.green-tick:before {
  content: "✓ ";
  font-size: 22px;
  font-weight: 900;
  color: #2fcf3f;
}

ul.card-options li.grey-tick:before {
  content: "✓ ";
  font-size: 22px;
  font-weight: 900;
  color: #d0d0d0;
}
